/**************Generic css tags *****************/
body{
    color: rgb(163, 159, 159);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
li{
    list-style-type: none;

}
a{
   
    text-decoration: none;
    color: rgb(163, 159, 159);
}
select{
    outline: 0;
    overflow: hidden;
    height: 50px;
    background: #ffffff;
    color: #000000;
    border: #2c343c;
    padding: 5px 3px 5px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/***************** header css tags, ids and classes ******************/
.header-container
{   
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
    top: 0;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}
#logo-header-image
{  
    width: 100px;
    height: 100px; 
    width: 33%; 
}
#header-list{
display: flex;
justify-content: space-evenly;
padding: 1%;
align-items: center;
width: 33%;
}
#hl1{
    color: rgb(8, 185, 162);

}
#hl1:hover{
    color: rgb(8, 185, 162);

}
#hl2:hover{
    color: rgb(8, 185, 162);
}
#hl3:hover{
    color: rgb(8, 185, 162);
}
/**************** main css tags, ids and classes *************************/
.main-container-section-one{
    display: flex;  
    justify-content: center;
    padding-top: 15%;
}
.main-container-section-two{
    display: flex;
    justify-content: center;
    color: rgb(8, 185, 162);
}
.paragraphs
{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.para{
    
    width: 35%;
    padding: 15px;
    line-height: 1.7;
}


/**boxes part css*/
.boxes{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
#box1{
    background-color: rgba(15, 216, 189); /* Green */
    border: 2px solid rgba(15, 216, 189) ;
    color:white;
    border-radius: 15px;
    width: 35%;
    padding: 5px;
    right: 0;
    height: 400px;
    animation-name:animationbox1;
    animation-duration: 2s;
}
@keyframes animationbox1{
    0%{background-color: rgba(15, 216, 189); top: 50px; bottom: 0px  }
    25%{ background-color: rgba(15, 216, 189); top: 0px; bottom: 0px}
}
#box2{
    background-color: rgb(70, 154, 250); /* Green */
    border: 2px solid rgb(70, 154, 250) ;
    color: white;
    border-radius: 15px;
    width: 35%;
    padding: 5px;
    right: 0;
    height: 400px;
    animation-name:animationbox2;
    animation-duration: 2s;
}
@keyframes animationbox2{
    0%{background-color: rgb(70, 154, 250) ; top: 50px; bottom: 0px  }
    25%{ background-color: rgb(70, 154, 250) ; top: 0px; bottom: 0px}
}

#selectoption:hover{
background-color:rgb(111, 236, 220);
}
.box1-containt{
    animation-name:animationtextbox1;
    animation-duration: 1s;
}
@keyframes animationtextbox1{
    from {
        margin-left: 10%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}
.box2-containt{
    animation-name:animationtextbox2;
    animation-duration: 1s;
}
@keyframes animationtextbox2{
    from {
        margin-left: 10%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}
/************* brand list css part**********/
.brand-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 30px;
}
.brand-list-one{
    color: rgb(8, 185, 162);
    width: 20%;
}
.brand-list-two{
   display: block;
   width: 55%;
   display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.listlinkbrand:hover path{
   fill:  rgb(8, 185, 162);

}

/**green background css part**/

.background-green-div{
    height: 600px;
    background-color:#e5faf8;   
}
.partone{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.parttwo{ 
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.txt-green{
 width: 30%;
 text-align: center;
}
.txt-icons-green-w{
     color:rgb(26, 211, 149); 
     font-size: 20px;}
.green-bg-text{
    align-self: center;
    top: 170%;
    left:10%;
    display: inline-block;
    width: 50%;
}
.logo-image-zoom{
    width: 400px;
    height: 400px;
    animation-name:animationimg;
    animation-duration: 0s;
}
@keyframes animationimg{
    from {
        margin-top: 0%;
        
      }
    
      to {
        margin-top: 0%;
        
      }
}

.whiteboxe1{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255) ; 
    border-radius: 6px;
    width: 200px;
    height: 200px; 
    box-shadow: 0 2px 4px 0 rgba(27, 161, 83, 0.1);
   text-align: center;
   animation-name:animationwhitebox1;
   animation-duration: 1s;
}
@keyframes animationwhitebox1{
    from {
        margin-top: 10%;
        
      }
    
      to {
        margin-top: 0%;
        
      }
}
.whiteboxe2{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255) ; 
    border-radius: 6px;
    width: 200px;
    height: 200px; 
    box-shadow: 0 2px 4px 0 rgba(27, 161, 83, 0.1);
    text-align: center;
    animation-name:animationwhitebox2;
    animation-duration: 2s;
}
@keyframes animationwhitebox2{
    from {
        margin-top: 10%;
        
      }
    
      to {
        margin-top: 0%;
        
      }
}
.whiteboxe3{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255) ; 
    border-radius: 6px;
    width: 200x;
    height: 200px; 
    box-shadow: 0 2px 4px 0 rgba(27, 161, 83, 0.1);
    text-align: center;
    animation-name:animationwhitebox3;
    animation-duration: 3s;
}
@keyframes animationwhitebox3{
    from {
        margin-top: 10%;
        
      }
    
      to {
        margin-top: 0%;
        
      }
}
.whiteboxe4{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255) ; 
    border-radius: 6px;
    width: 200x;
    height: 200px; 
    box-shadow: 0 2px 4px 0 rgba(27, 161, 83, 0.1);
    text-align: center;
    animation-name:animationwhitebox4;
    animation-duration: 4s;
}
@keyframes animationwhitebox4{
    from {
        margin-top: 10%;
        
      }
    
      to {
        margin-top: 0%;
        
      }
}
/************* second paragraphs *************/
.Secondparagraphs
{
text-align: center;
padding: 100px;
}
/************** grid ****************/
.grid-container-one{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
  .info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .grid-info{
width: 50%
  }
  .grid-container-two{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 2%;
}
.imgradious{
    border-top-left-radius: 15px; border-top-right-radius: 15px;
}
.grid-box1:hover,.grid-box2:hover,.grid-box3:hover,.grid-box4:hover,.grid-box5:hover,.grid-box6:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-box1,.grid-box2,.grid-box3,.grid-box4,.grid-box5,.grid-box6{
    border-top-left-radius: 65px; border-top-right-radius: 15px;
}
.abutton{
    background-color: rgb(18, 113, 238);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(18, 113, 238);
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px
}
.abutton:hover{
border-color: rgb(71, 71, 204);
background-color:  rgb(59, 59, 238);
}
/******************footer**************************/
.footer-links{
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 2px solid lightgray;  
    border-top-width: thin;
    font-size: 12px;}
.afooter{
    color: rgb(1, 146, 236);
}
.afooter:hover{
    text-decoration: underline;
}
/****************** responsive for Pixel 2 XL ***************/
@media screen and (max-width: 1024px) {
    /* For mobile phones: */
    .brand-list-one{
      font-size: 16px;
      text-align: center;
    }
    #box1{
     margin-left: 5%;
     width:100%;
     height: 700px;
    }
    .box1-containt{
        font-size: 35px;
    }
    .selectoption{
        font-size: 50px;
        padding: 90px 90px;
        
    }
    .image-screen-one{
        width: 600px;
        height:  300px;
    }
    #box2{
     margin-left: 5%;
     width:100%;
     height: 700px;
      }
      .box2-containt{
        font-size: 35px;
    }
    .brand-list-two{
        display: flex;
        flex-direction: column;
    }
    .img-resp{
        width:250px;
        height: 100px;
    }
    .brand-list-one{
        width: 100%;
    }
   
    .green-bg-text{
        margin-top: 60%;
        margin-left: 40%;
        font-size: 35px;
        text-align: center;
    }
    .background-green-div{
      height: 2000px;
      width: 100%;
    }
  .txt-green{
      font-size: 35px;
      width: 70%;
     
  }
    .paragraphs{
        display: flex;
        flex-direction: column;
    
    }
    .para {
        width: 100%;
        text-align: center;

    }
    .Secondparagraphs{
        font-size: 35px;
        text-align: center;
    }
    .background-green-div{
        height: 2400px; 
    }
    .parttwo{
        display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
  }
  .partone{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
    .whiteboxe1{
    width: 400px;
    height: 400px; 
    font-size: 40px;
    }
    .img-icons-green{
        width: 80px; 
        height: 80px;
    }
    .txt-icons-green-w{
 font-size: 40px;
    }   
     .whiteboxe2{
        width: 400px;
        height: 400px; 
        font-size: 40px;
        }
        .whiteboxe3{
            width: 400px;
            height: 400px; 
            font-size: 40px;
            }
            .whiteboxe4{
                width: 400px;
                height: 400px;
                font-size: 40px; 
                }
    .boxes{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .grid-container-one{
        display: flex;
        flex-direction: column;
        
    
    }
    .grid-container-two{
        display: flex;
        flex-direction: column;
    }
    .footer-links{
       font-size: 35px;
    }
    #header-list{
        width: 70%;
        font-size: 35px;
    }
    .grid-box1,.grid-box2,.grid-box3,.grid-box4,.grid-box5,.grid-box6{
      width: 100%;
    }
    .img-grid{
        width: 90%;
    }
    .info{
     font-size: 35px;
    }
    .abutton{
        padding: 20px 20px;
        font-size: 35px;
    }

}
